@font-face {
  font-family: "IRANSansX";
  src: url("../assets/fonts/IRANSansX/IRANSansWeb\(FaNum\)_Black.eot");
  src: url("../assets/fonts/IRANSansX/IRANSansWeb\(FaNum\)_Black.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/IRANSansX/IRANSansWeb\(FaNum\)_Black.woff2")
      format("woff2"),
    url("../assets/fonts/IRANSansX/IRANSansWeb\(FaNum\)_Black.woff")
      format("woff"),
    url("../assets/fonts/IRANSansX/IRANSansWeb\(FaNum\)_Black.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSansX";
  src: url("../assets/fonts/IRANSansX/IRANSansWeb\(FaNum\)_Bold.eot");
  src: url("../assets/fonts/IRANSansX/IRANSansWeb\(FaNum\)_Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/IRANSansX/IRANSansWeb\(FaNum\)_Bold.woff2")
      format("woff2"),
    url("../assets/fonts/IRANSansX/IRANSansWeb\(FaNum\)_Bold.woff")
      format("woff"),
    url("../assets/fonts/IRANSansX/IRANSansWeb\(FaNum\)_Bold.ttf")
      format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSansX";
  src: url("../assets/fonts/IRANSansX/IRANSansWeb\(FaNum\)_Light.eot");
  src: url("../assets/fonts/IRANSansXIRANSansWeb\(FaNum\)_Light.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/IRANSansX/IRANSansWeb\(FaNum\)_Light.woff2")
      format("woff2"),
    url("../assets/fonts/IRANSansX/IRANSansWeb\(FaNum\)_Light.woff")
      format("woff"),
    url("../assets/fonts/IRANSansX/IRANSansWeb\(FaNum\)_Light.ttf")
      format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSansX";
  src: url("../assets/fonts/IRANSansX/IRANSansWeb\(FaNum\)_Medium.eot");
  src: url("../assets/fonts/IRANSansX/IRANSansWeb\(FaNum\)_Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/IRANSansX/IRANSansWeb\(FaNum\)_Medium.woff2")
      format("woff2"),
    url("../assets/fonts/IRANSansX/IRANSansWeb\(FaNum\)_Medium.woff")
      format("woff"),
    url("../assets/fonts/IRANSansX/IRANSansWeb\(FaNum\)_Medium.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSansX";
  src: url("../assets/fonts/IRANSansX/IRANSansWeb\(FaNum\)_UltraLight.eot");
  src: url("../assets/fonts/IRANSansX/IRANSansWeb\(FaNum\)_UltraLight.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/IRANSansX/IRANSansWeb\(FaNum\)_UltraLight.woff2")
      format("woff2"),
    url("../assets/fonts/IRANSansX/IRANSansWeb\(FaNum\)_UltraLight.woff")
      format("woff"),
    url("../assets/fonts/IRANSansX/IRANSansWeb\(FaNum\)_UltraLight.ttf")
      format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
.slick-list {
  padding: 0 0 0 15% !important;
}

* {
  font-family: IRANSansX;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

:root {
  --primary: #c000c0;
  --lightPrimary: #ee82ee;
  --gray: #f8f2f8;
}

a {
  text-decoration: none !important;
}

/*----------------------------------------- main page------------------------------------------ */
/* ----------------- header ----------------- */
main {
  margin-top: 50px;
}
header {
  background-color: var(--gray);
  margin-top: 50px;
  padding: 0px;
}
.top-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.top-header img {
  width: 120px;
  height: 100px;
}
.menu-btn {
  border: none;
  background-color: transparent;
  width: 36px;
  height: auto;
  margin-left: 20px;
}
.menu-btn img {
  width: 100% !important;
  height: auto !important;
}
.simple-btn {
  padding: 12px 20px;
  border-radius: 10px;
  background-color: white;
  border: none;
  height: 50px;
}

.filled-btn {
  padding: 12px 20px;
  border-radius: 10px;
  background-color: var(--lightPrimary);
  border: none;
  color: white;
  height: 50px;
}
.filled-btn img {
  width: 20px;
  height: 26px;
  margin-right: 5px;
}
.navbar-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  column-gap: 30px;
}
.navbar-list a {
  color: black;
  font-size: 18px;
  padding: 5px 10px;
}

/* ----------------- footer ----------------- */
footer {
  background-color: white;
  border-radius: 20px;
  padding: 30px 20px 0;
  color: black;
  margin-bottom: 30px;
}
footer h3 {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 700;
}

footer a {
  color: black;
  margin-bottom: 15px;
  font-weight: 300;
}
footer p {
  font-weight: 300;
  text-align: justify;
}

.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  column-gap: 20px;
}

.social-icons img {
  width: 30px;
  height: 30px;
}

.foot-note {
  border-top: 1px solid rgb(206, 206, 206);
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
}

/*----------------- services -----------------*/
.services {
  margin: 100px;
}

.services div img {
  width: auto;
  height: 70px;
  margin-bottom: 20px;
}

.services div {
  text-align: center;
}

/*----------------- carousel -----------------*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: red !important ;
  border: 6px solid red;
  border-radius: 50%;
  width: 32px !important;
  height: 32px !important;
}
/*----------------- search-box -----------------*/
.search-box {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  position: absolute;
  bottom: -36px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
}

.search-box div {
  border: 1px solid var(--lightPrimary);
  border-radius: 12px;
  padding: 0 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.search-box button {
  background-color: transparent;
  border: none;
}
.search-box button img {
  width: 24px;
  height: 24px;
  margin: 12px 0;
}

.search-box input {
  height: 50px;
  border: none;
  color: var(--lightPrimary);
  width: 100%;
  font-weight: 300;
  font-size: 14px;
}
.search-box input::placeholder {
  color: var(--lightPrimary);
  font-weight: 300;
  font-size: 14px;
}
/*----------------- last-products -----------------*/

.last-products-section {
  margin: 70px 0;
}

.last-products-section h2 {
  color: var(--primary);
  font-size: 22px;
  font-weight: 700;
}

.product-item {
  padding: 0 0 0 20px !important;
  border-radius: 20px;
  overflow: none;
  height: 460px;
  width: 100%;
}

.item-img-container img {
  height: 340px;
  width: 100%;
}

.item-details {
  padding: 20px;
  width: 100%;
  height: 120px;
}
.item-details p {
  margin-bottom: 8px;
}

.item-title {
  font-weight: 400;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-description {
  font-weight: 300;
  font-size: 13px;
  color: gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-img-container {
  width: 100%;
  height: 340px;
  position: relative;
}

.item-button {
  background-color: var(--lightPrimary);
  border: none;
  color: white;
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 12px;
  width: 175px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.item-button img {
  width: 20px;
  height: auto !important;
}
.item-img-container:hover .button-container {
  position: absolute;
  display: inline-block;
  bottom: 30px;
  left: 50%;
  opacity: 1;
  transform: translateX(-50%);
}

.button-container {
  opacity: 0;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

.see-all-btn {
  color: white;
  border-radius: 10px;
  padding: 12px 20px;
  background-color: var(--lightPrimary);
  border: none;
  align-self: flex-end;
}

/*---------------- mobile size --------------------- */
@media screen and (max-width: 992px) {
  main {
    margin-top: 30px;
  }
  header {
    background-color: white;
    margin-top: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
  }
  .navbar-list {
    display: none;
  }
  .top-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
  }
  .top-header img {
    width: 80px;
    height: 70px;
  }
  .cart-button {
    border-radius: 10px;
    background-color: rgb(97, 113, 250);
    border: none;
    width: 50px;
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cart-button img {
    width: 100%;
    height: auto;
  }
  .search-btn {
    background-color: transparent;
    border: none;
    width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;
  }
  .search-btn img {
    width: 100%;
    height: auto;
  }
  .last-products-section {
    margin: 50px 0;
  }
  .services {
    margin: 50px;
  }
  .social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
  }
  .offcanvas-body a {
    color: black;
    display: block;
    padding: 10px 0;
    margin-bottom: 5px;
  }
  .product-item {
    height: 320px;
  }
  .item-img-container {
    height: 200px;
  }
  .item-img-container img {
    height: 200px;
  }
  .item-details {
    padding: 10px;
    height: 100px;
  }
  .item-button img {
    width: 20px;
    height: auto !important;
  }
}

/*----------------------------------------- product page------------------------------------------ */
.product-section {
  width: 100%;
  border-radius: 20px;
  background-color: white;
  padding: 20px;
}

.product-details h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.product-price {
  text-align: left;
  font-size: 22px;
  font-weight: 00;
  color: var(--primary);
  margin-bottom: 30px;
}
.product-info-title {
  font-weight: 700;
  font-size: 18px;
}
.product-info {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 8px;
  color: gray;
}

select.form-select {
  width: 300px;
  margin-bottom: 30px;
  font-size: 14px;
  color: gray;
  font-weight: 300;
  appearance: auto !important;
  --bs-form-select-bg-img: none;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
}
.product-favorite {
  border: none;
  background-color: transparent;
  padding: 6px 12px;
}

.product-favorite span {
  font-size: 13px;
  font-weight: 300;
  color: gray;
}

.product-favorite img {
  filter: invert(0.7);
  width: 20px;
  height: auto;
}

input[type="number"] {
  width: 60px;
  text-align: center;
  font-size: 16px;
  margin: 0 0px;
  border: 1px solid rgb(192, 192, 192);
  height: 40px;
  padding: 6px;
  color: gray;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]:hover::-webkit-inner-spin-button,
input[type="number"]:hover::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.number-input button {
  border: 1px solid rgb(192, 192, 192);
  background-color: transparent;
  height: 40px;
  padding: 6px 10px;
  color: gray;
  font-weight: 400;
  font-size: 14px;
}

.add-to-cart-btn {
  border-radius: 10px;
  background-color: var(--lightPrimary);
  color: white;
  padding: 0 20px;
  border: none;
  height: 40px;
}

.product-details {
  padding-left: 20px;
  background-color: white;
  border-radius: 20px;
}

.product-main-img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.product-img-list img {
  width: 25%;
  height: auto;
  padding: 0 0 0 10px !important;
  border-radius: 20px;
  margin-bottom:20px ;
}

.product-img-section {
  background-color: white ;
}

@media screen and (max-width: 992px) {
  .product-img-section {
    height: 650px !important;
    background-color: transparent ;
  }
  .product-main-img {
    max-height: 450px;
  }
  .product-img-list img {
    max-height: 150px;
  }
  .product-details {
    padding: 20px !important;
    background-color: white;
    border-radius: 20px 20px 0 0 ;
  }
  .product-price {
    font-size: 28px;
  }
  select.form-select {
    width: 100%;
    
  }
  .description-section{
  background-color: white;
  padding: 0 20px 20px 20px;
  border-radius:  0 0 20px;
  }
  .product-section {
    background-color: transparent;
  }
  .product-img-list{
    margin-bottom: 0px;
  }
}
